*{
    padding: 0px ;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    right: 0;
    top: 0;
    z-index:1000 ;  
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding :33px 9%;
    background: transparent;
    box-shadow: 15px 1px 20px black;
    opacity: 0.85;
    transition: all 0.2s ease;
}
header:hover{
    opacity: unset;
    transition: all 0.2s ease;
}
.logo img{
    position: absolute;
    width: 35%;
    top: -30px;
    left: -70px;
}
.logo{
    font-size: 50px;
    font-family: cursive;
    color: white;
    font-weight: bold;
    transition: all 0.2s ease-out;
    position: relative;
    top: 0px;
    right: 350px;
    font-family: "Caveat", cursive;
    
}
.logo:hover{
    color: rgb(54, 153, 219);
    transition: all 0.2s ease-in;
    transform: translateY(-1px);
    

}

.navlist{
    display: flex;
    
    
}
.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid white;
}
#menu-icon{
    color:white;
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.girl{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}
section{
    padding: 15% 19%;
    padding-bottom: 30%;
}
.girl-text h5{
    font-size:30px ;
    font-weight: 500;
    color: white;
    margin-bottom: 40px;
}
.girl-text h1{
    font-family: "Matemasie", sans-serif;
    font-size: 90px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
    font-style: oblique;
}
.girl-text h4{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}
.girl-text p{
    color: white;
    font-size: 20px;
    line-height: 1.9;
    margin-bottom: 40px;
    font-style: italic;
    font-weight: 100;
}
.girl-img{
    width: 100px
}
.girl-img img{
    width: 600px;
    height: auto;
    opacity: 0.95;
    transition: all .55s ease-in;
   
}
.girl-img img:hover{
    opacity: 1;
    transform: translateY(-10px);
    transition: all 0.8s ease;
}
.girl-text a{
    display: inline-block;
    color: white;
    background: gray;
    border: 1px solid transparent;
    padding: 12px 35px;
    line-height: 1.4;
    font-size: 20px;
    font-weight: 500;
    border-radius: 30px;
    transition: all .55s ease;
}
.girl-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(3px);
}
.girl-text .ctaa i{
vertical-align: middle;
margin-right: 5px;
}
.icons{
    position: absolute;
    top: 45%;
    padding: 0 9%;
    transform: translateY(-50%);
    text-align: center;
}
.icons h3{
    color: rgb(231, 226, 226);
     
}
.icons i {
    display: block;
    margin: 26px 0;
    color: rgb(202, 208, 209);
    font-size: 24px;
    transition: all .50s ease;
    
}
.icons i:hover{
    color: white;
    transform: translateY(-5px);
}
.video_banner{
    width: 28%;
    position: absolute;
    top: 120%;
    left: 3%;
    border: 5px solid rgb(128, 125, 125);
    box-shadow: 10px 10px 30px black;
    height: 300px;
    object-fit: cover;
    
}
.video-2{
    position: absolute;
    top: 120%;
    left: 35.8%;
}
.video-3{
    position: absolute;
    top: 120%;
    left: 68.5%;
}
.video_banner:hover{
    display: unset;
}

.banner{
    display: flex;
    border-top: 5px solid black;
    border: none;
    justify-content: center;
    gap: 1%;
    background: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
    padding-bottom: 5%;
    
}
.banner img{
    width: 20%;
    opacity: 0.4;
    transition: all 0.5s ease-in;
    border: 10px solid gray;
    margin-top: 5%;
}
.banner img:hover{
    opacity: unset;
    transition: all 0.5s ease-out;
    transform: translateY(-5px);
    border: none;
    
}


.footer{
    background: linear-gradient( 10000deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
    color: white;
    border-top: 2px solid black;
    padding: 1.5%;
    text-align: center;
    
}
.footer h3{
    font-family: cursive;
}


/* two pics list */
.pics-list{
    margin-top: 2%;
    display: flex;
    background-color: gray;
    justify-content: center;
    font-size: 35px;
    gap: 20%;
    padding: 8px;    
}
.pics-list a{
    color: white;
    font-family: "EB Garamond", serif;
    transition: all .50s ease;
    opacity: 0.5;
   
}
.list-1:focus{
    background-color: #a1a1ff;
   
}


.pics-list a:hover{
    text-decoration: underline  ;
    transition: all .50s ease;
    opacity: unset;
}
.icon-2{
    margin-top: 25px;
    margin-left: 20px;
}

.icon-2 a{
    font-size: 50px;
    color: black;
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px 20px 0px 20px;
    transition: all 0.5s ease;
    
    transform: translateY(10px);
}
.icon-2:hover{
    transition: all 0.5s ease;
    transform: translateY(10px);
}
.icon-2 a:hover{
    background-color: rgb(199, 193, 193)
}
.khong_hu_list{
    width: 100%;
    object-fit: cover;
    padding-left: 2%;
    margin-top: 20px;
  
    
    
}
.khong_hu_list img{
    width: 32%;
    height: 750px;
    object-fit: cover;    
}

.khong_hu_list video{
    width: 32%;
    
}
/* about */
.about h1{
    font-size: 80px;
    padding: 20px;
}
.about{
    color: white;
    margin-top: 8%;
    position: absolute;
    top: -250px;
    left: -300px;
}
.about h4{
    font-size: 40px;
    font-weight: 200;
    padding: 30px;
}
.about{
    background: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
}

@media (max-width:1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
}
